@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F8;
  --foreground: #121212;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-muted;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
